@import url("https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@1,900&display=swap");
@import url("http://fonts.cdnfonts.com/css/pastel-colors");
/* Fill button styling */
.fill {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 50px 13px;
    outline: 0;
    border: 1px solid #04049d;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    margin: 20px;
}

.fill::after {
    content: "";
    background-color: #2acdc1;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

.fill:hover::after {
    top: 0px;
    left: 0px;
}
/* End of Fill Button  */

h1 {
    font-family: "Pastel Colors", sans-serif;
    font-size: 3.1em;
}

h2 {
    font-family: "Pastel Colors", sans-serif;
    font-size: 3.1em;
    color: red;
}

.row{
    color:aliceblue;
}